

/* ==============================================
Red-2 Color Skin
=============================================== */

::-moz-selection {
 background: #D40436;
}
::selection {
	background: #D40436;
}


.btn-home a,
.skillbar-title,
.skillbar-bar,
#filters li span.active,
#filters li span:hover,
#filters li span:focus,
.btn-primary,
.label-primary,
#contact input.submit,
.blog-list li:hover,
.cbp-l-filters-button .cbp-filter-item-active,
.cbp-l-filters-button .cbp-filter-counter,
.nav > li > a:hover, .nav > li > a:focus,
.shop-btn-box:hover,
.pagination > .active > a {
	background: #D40436;
}


a,
.about-icon .fa-circle,
.highlight,
figure figcaption a:hover,
.dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav > .hovernav:hover > a,
.navbar-default .navbar-nav > .hovernav:hover > a:hover, 
.nav > li > a:hover, 
.nav > li > span:hover, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,  
.portfolio-links a:hover,
.portfolio-links .icon:hover,
.connected-icon a:focus,
.connected-icon a:hover,
.btn-link,
.post-title a:hover,
.post-title a:focus,
#main-nav .current,
.star-rating span,
.twitter-logo .fa,
.footer-logo a:hover,
.effects .img a:hover
 {
	color: #D40436;
}


.phone-info {
	background: rgba(212, 4, 54, 0.2);
}

.cbp-l-filters-button .cbp-filter-counter:before {
	border-top: 4px solid #D40436;
}

.btn-home a {
    box-shadow: 0 3px 0 rgba(212, 4, 54, .5);
}